<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AAA_Certification_System.My.MySettings.AAA_Certification_SystemConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\LF Database\LEAN\AAA Certification System.accdb&quot;;Persist Security Info=True;Jet OLEDB:Database Password=lfaaacert"
            providerName="System.Data.OleDb" />
        <add name="AAA_Certification_System.My.MySettings.Dev_Connection"
            connectionString="Data Source=BTMESSQLDEV03;Initial Catalog=LFPH_LEAN;Persist Security Info=True;User ID=mesph;Password=PHFuse;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

	<appSettings>
		<add key="ImagePath"  value="\\btfile001\data\Cross_Dept\MES_Public\AAA System Improved\Rand_Numbers"/>
		<add key="SavingPath" value="C:\Backup"/>
	</appSettings>
	
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>